$primary-color: #F2A7B5;
$primary-color-alt: #ffb6b6;
$primary-color-dark: #F27781;
$primary-color-light: #FFCAD4;
$primary-color-light-alt: #f7cdd6;

$secondary-color: #3f4d39;
$secondary-color-light: #92a48b;


$side-bar-color: #27251F;
$side-bar-a-color: white;


$font-color: black;
$font-color-alt: white;
$font-color-fade: gray;

$cube-border: #ccc;



